**/terraform.tfstate*
.terraform
.notes
.vs
# Virtual Environments
api-gateway/
.venv

# lambda zip
lambda_artifact.zip

# Ruby
*.lock

# IDE & development
.idea
__pycache__
.vscode/

# Mac
.DS_Store

# Test environment
*generated.postman_environment.json
