version: '2.1'

services:
  gateway:
    build: ./
    depends_on:
      - lambci
    volumes:
      - ./docker:/srv/docker:cached
      - ./lambdas:/srv/lambdas:cached
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 5000:5000
    environment:
      LAMBDAS_PATH: ${PWD}/lambdas
      # Keys starting 'PASSTHROUGH' are passed (sans 'PASSTHROUGH') to the actual Lambda.
      PASSTHROUGH_DYNAMODB_DATA_CACHE_TABLE_NAME: opg-gateway-cache-data
      PASSTHROUGH_DYNAMODB_AUTH_CACHE_TABLE_NAME: opg-gateway-cache-auth
      PASSTHROUGH_AWS_ENDPOINT_DYNAMODB: http://gateway-localstack:14569
      PASSTHROUGH_ENABLE_DEBUG: 'true'

  gateway-localstack:
    image: localstack/localstack
    ports:
      - 14569:14569
    environment:
      - SERVICES=dynamodb:14569
      - DEFAULT_REGION=eu-west-1
      - HOSTNAME=gateway-localstack

  localstack-config:
    build:
      context: .
      dockerfile: localstack-config/Dockerfile
    volumes:
      - ./localstack-config:/config
    depends_on:
      - gateway-localstack

  lambci:
    image: lambci/lambda:python3.7
    entrypoint: bash
