version: 2.1

workflows:
  lint:
    jobs:
    - lint:
        filters:
          branches:
            ignore: [ master ]

jobs:
  lint:
    docker: [ image: "hashicorp/terraform:full" ]
    steps:
      - checkout
      - run:
          name: Init Terraform
          command: |
            terraform init
          name: Lint Terraform
          command: |
            terraform validate
