version: 2.1

workflows:
  lint:
    jobs:
    - lint_terraform:
        filters:
          branches:
            ignore: [ master ]
        name: lint_terraform
    - apply_terraform:
        filters:
            branches:
              ignore: [ master ]
        name: apply_development
        requires: [ lint_terraform ]

jobs:
  lint_terraform:
    docker: [ image: "hashicorp/terraform:full" ]
    steps:
      - checkout
      - run:
          name: Init Terraform
          command: |
            terraform init
      - run:
          name: Lint Terraform
          command: |
            terraform validate
  plan_terraform:
    docker: [ image: "hashicorp/terraform:full" ]
    steps:
      - checkout
      - run:
          name: Init Terraform
          command: |
            terraform init
      - run:
          name: Terraform Plan
          command: |
            terraform plan
  apply_terraform:
    docker: [ image: "hashicorp/terraform:full" ]
    steps:
      - checkout
      - run:
          name: Init Terraform
          command: |
            terraform init
      - run:
          name: Terraform Apply
          command: |
            terraform apply
